/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ....................................................................... */

:root {
    --light-grey: rgb(240, 240, 240);
    --danger-red: #FF0000;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#header {
    width: 100vw;
    height: 100px;

    background-color: var(--light-grey);
}

#content {
    display: grid;
    grid-template-columns: 400px 1fr;

    padding: 1rem;
}

#project-holder {
    display: grid;
    grid-auto-rows: min-content;
    gap: 2rem;
    padding: 0rem 0.5rem;
    height: calc(100vh - 150px);

    border-right: 1px dashed black;
}

.project {
    display: flex;
    justify-content: space-between;

    padding: 1rem 2rem; 
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0.5rem;
}

.project-name,
.project-del {
    font-size: 2rem;
}

#add-project {
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    width: 50%;
    border: 1px dashed var(--light-grey);
    border-radius: 0.5rem;
    background-color: rgb(240, 240, 240);
    padding: 1rem;
}

#todo-holder {
    display: grid;
    grid-auto-rows: min-content;
    gap: 1.5rem;
    padding: 0rem 2rem;
}

#add-todo {
    display: flex;
    justify-content: space-evenly;

    padding: 1rem 2rem;
    font-size: 2rem;
}

.todo {
    display: grid;
    grid-template-columns: 4rem 2fr 3fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkedTodo {
    background-color: gray;
}

input[type = 'checkbox'] {
    height: 2rem;
    width: 2rem;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    position: fixed;

    background-color: rgba(0, 0, 0, 0.8);
}

.add-interface {
    width:fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: white;
    padding: 5rem;
}

.add-interface > * {
    font-size: 2rem;
}

.border-black {
    border: 1px dotted black;
    border-left: 1.5rem solid black;
}

.border-blue {
    border: 1px dotted black;
    border-left: 1.5rem solid blue;
}

.border-red {
    border: 1px dotted black;
    border-left: 1.5rem solid red;
}

.reset-button {
    justify-self: center;
    width: fit-content;
    height: fit-content;
    background-color: var(--danger-red);
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    color: whitesmoke;
    border-radius: 0.5rem;
    transition: 200ms;
}

.reset-button:hover {
    filter:contrast(0.8)
}